<!-- Web.Config Configuration File -->
<configuration>
<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
  <system.web>
		<customErrors mode="on"/>
		<compilation defaultLanguage="vb" debug="true">
		</compilation>
	</system.web>
	<location path="movil" allowOverride="false">
		<system.webServer>
			<httpRedirect enabled="true" destination="http://domoh.com/JQueryMobile.asp" httpResponseStatus="Permanent"/>
		</system.webServer>
		<system.web>
			<trust level="Full"/>
		</system.web>
	</location>
	<system.webServer>
		<httpErrors errorMode="Detailed"/>
	</system.webServer>
</configuration>