vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Dec 2014 17:41:28 -0000
vti_extenderversion:SR|12.0.0.0
vti_usagebymonth:UX|1 11
vti_usagebyweek:UX|1 0 3 8
vti_usagebyday:UX|0 0 0 0 0 0 1
vti_usagelastupdated:TX|13 Feb 2011 07:59:59 -0000
vti_usagetotalhits:IX|12
vti_author:SR|UltraVaio\\Dig
vti_modifiedby:SR|UltraVaio\\Dig
vti_timecreated:TR|07 Dec 2011 15:27:00 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|22 Dec 2014 20:05:14 -0000
vti_syncwith_domoh.com\:21:TX|17 May 2014 09:53:43 -0000
vti_syncofs_domoh.com\:21:TW|30 May 2014 18:15:00 -0000
vti_syncofs_216.218.224.247\:21/httpdocs:TW|06 Sep 2014 19:25:00 -0000
vti_syncwith_216.218.224.247\:21/httpdocs:TX|14 Aug 2014 05:48:09 -0000
vti_cacheddtm:TX|27 Dec 2014 17:41:28 -0000
vti_filesize:IR|2728
